name: Regression

on:
 push:
   branches:
   - master
 pull_request:
   branches:
   - master

jobs:
 build:

   strategy:
     matrix:
       os: [ubuntu-latest]

   runs-on: ${{ matrix.os }}

   steps:
   - name: Install stable toolchain
     uses: actions-rs/toolchain@v1
     with:
       profile: minimal
       toolchain: stable
       target: thumbv7em-none-eabi

   - name: Install nightly toolchain
     uses: actions-rs/toolchain@v1
     with:
       profile: minimal
       toolchain: nightly
       target: thumbv7em-none-eabi

   - name: Install cargo-make
     uses: actions-rs/cargo@v1
     with:
       command: install
       args: cargo-make

   - name: Checkout
     uses: actions/checkout@v1

   - uses: actions/cache@v2
     with:
       path: |
         ~/.cargo/registry
         ~/.cargo/git
         target
       key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

   - name: Run test
     uses: actions-rs/cargo@v1
     with:
       command: make
       args: default
